[submodule "summerbot-claw"]
	path = src/summerbot-claw
	url = https://github.com/arenibProjects/summerbot-claw.git
[submodule "summerbot-motionbase"]
	path = src/summerbot-motionbase
	url = https://github.com/arenibProjects/summerbot-motionbase.git
[submodule "summerbot-sensormanager"]
	path = src/summerbot-sensormanager
	url = https://github.com/arenibProjects/summerbot-sensormanager.git
[submodule "summerbot-pathfinder"]
	path = src/summerbot-pathfinder
	url = https://github.com/arenibProjects/summerbot-pathfinder.git
[submodule "summerbot-screen"]
	path = src/summerbot-screen
	url = https://github.com/arenibProjects/summerbot-screen.git
[submodule "summerbot-bee"]
	path = src/summerbot-bee
	url = https://github.com/arenibProjects/summerbot-bee
[submodule "src/summerbot-bee"]
	path = src/summerbot-bee
	url = https://github.com/arenibProjects/summerbot-bee
